Repository PestisCorp/Pestis, pull requests merged in 2025-01, with the labels that each got.

#15 added assets for rat, enemies and human
  Pestis/Assets/charactor_design/archive/enemie_rat.aseprite
  Pestis/Assets/charactor_design/archive/enemie_rat_crawl.aseprite
  Pestis/Assets/charactor_design/archive/enemie_rat_sym.aseprite
  Pestis/Assets/charactor_design/archive/enemite_rat_crawl_sym.aseprite
  Pestis/Assets/charactor_design/archive/pickled-rat_45.aseprite
  Pestis/Assets/charactor_design/archive/pickled_rat.aseprite
  Pestis/Assets/charactor_design/archive/pickled_rat_45_sym.aseprite
  Pestis/Assets/charactor_design/archive/pickled_rat_crawl.aseprite
  Pestis/Assets/charactor_design/archive/pickled_rat_crawl_sym.aseprite
  Pestis/Assets/charactor_design/archive/pickled_rat_sym.aseprite
  Pestis/Assets/charactor_design/archive/pickled_rat_walk.aseprite
  Pestis/Assets/charactor_design/human_normal.aseprite
  Pestis/Assets/charactor_design/human_normal_sym.aseprite
  Pestis/Assets/charactor_design/rat.aseprite
  Pestis/Assets/charactor_design/rat_flip.aseprite
  Pestis/Assets/charactor_design/rat_up.aseprite
  Pestis/Assets/charactor_design/rat_upright.aseprite
  Pestis/Assets/charactor_design/rat_upright_flip.aseprite
Labels: design

#25 fixed rat up angle problem
  Pestis/Assets/charactor_design/archive/rat_flip.aseprite
  Pestis/Assets/charactor_design/archive/rat_up.aseprite
  Pestis/Assets/charactor_design/archive/rat_upright.aseprite
  Pestis/Assets/charactor_design/rat.aseprite
  Pestis/Assets/charactor_design/rat_down.aseprite
  Pestis/Assets/charactor_design/rat_down_left.aseprite
  Pestis/Assets/charactor_design/rat_down_right.aseprite
  Pestis/Assets/charactor_design/rat_down_right_evil.aseprite
  Pestis/Assets/charactor_design/rat_evil.aseprite
  Pestis/Assets/charactor_design/rat_up.aseprite
  Pestis/Assets/charactor_design/rat_upleft.aseprite
  Pestis/Assets/charactor_design/rat_upleft_evil.aseprite
  Pestis/Assets/charactor_design/rat_upright.aseprite
  Pestis/Assets/charactor_design/rat_upright_evil.aseprite
  Pestis/Assets/charactor_design/rat_upright_flip.aseprite
Labels: bug, design

#26 add horizontal rats
  Pestis/Assets/charactor_design/rat_left.aseprite
  Pestis/Assets/charactor_design/rat_right.aseprite
Labels: design

#58 Branch view ignores pushes to main, doesn't do failing symlink
  .github/workflows/branch-view.yml
Labels: bug
